pandas
scikit-learn
joblib
mlflow
fastapi
uvicorn
prometheus-client
pytest
PyYAML
mypy
coverage
flake8
pre-commit
types-PyYAML
pandas-stubs
types-scikit-learn
types-setuptools
pydantic