pandas
scikit-learn
joblib
mlflow
fastapi
uvicorn
jinja2  # Added for template rendering
pytest  # Added to ensure it's installed
PyYAML  # Added for config.yaml parsing
mypy
coverage
flake8
pre-commit
prometheus-client==0.17.1
great-expectations==0.17.23
evidently==0.4.9
bentoml==1.1.7
types-PyYAML
pandas-stubs
types-setuptools